$primary-color: #ffffff;

body {
  background-color: #000000;
  color: $primary-color;
}

.intro-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.intro-text {
  position: relative;
  z-index: 1;
  text-align: center;
}

.intro-text h1 {
  font-size: 5rem;
}

.intro-text p {
  font-size: 2rem;
}

.intro-star {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../images/star.webp'), url('../images/star.jpg'), url("../images/star.avif");
  background-repeat: repeat;
  z-index: 0;
  animation: star 20s ease-in-out infinite;
  //animation: star 50s linear infinite;
  animation-direction: alternate; /* 추가 */
  animation-delay: 1.5s; /* 애니메이션 지연 시간 추가 */
  animation-fill-mode : both forwards + backwards;
}

@keyframes star {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2000px);
  }
}

// Variables
$primary-color: #ffffff;

// Base Styles
body {
  background-color: #000000;
  color: $primary-color;
}

.intro-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  // Star background
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('../images/star.webp'), url('../images/star.jpg'), url("../images/star.avif");
    background-repeat: repeat;
    z-index: -1;
    //animation: star 50s linear infinite;
    animation: star 20s ease-in-out infinite;
    animation-direction: alternate; /* 추가 */
    animation-delay: 1s; /* 애니메이션 지연 시간 추가 */
    animation-fill-mode : both forwards + backwards;
  }
}

.intro-text {
  position: relative;
  z-index: 1;
  text-align: center;
}

.intro-text h1 {
  font-size: 5rem;
}

.intro-text p {
  font-size: 2rem;
}

// Keyframes
@keyframes star {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-2000px);
  }
}
.intro-text h1{cursor: pointer;}
.intro-text p{cursor: pointer;}
/* 테스트*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  height: 200px;
  width: 600px;
  background: white;
  border: 10px double white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
/* 테스트*/

.intro-text h1,
.intro-text p {
  display: inline-block;
}

.intro-text .char {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: calc(var(--i) * 0.1s);
}

/* 테스트 애니메이션 타이핑 효과 */
.intro-text .subtitle {
  font-size: 20px;
  min-width:11px;
  white-space: nowrap;
  margin: 0;
  position: fixed;
  color: black;
  //color: transparent;
  top:54%;
  left:48%;
  transform: translate(-50%, -50%);
}

.intro-text .subtitle::before {
  content: "Welcome to My Website!";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
  border-right: 1px solid black;
  animation: typing 5s steps(31) infinite;
  animation-direction: alternate;
}

@keyframes typing{
  0% {
    width: 0%;
  }
  50% {
    width: 120%;
  }
  100% {
    width: 0%;
  }
}
/* 테스트 애니메이션 타이핑 효과 */

.intro-text .cursor {
  display: inline-block;
  margin-left: 5px;
  width: 6px;
  height: 1.1em;
  background-color: black;
  animation: blinkCursor 0.5s step-end infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blinkCursor {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}