@media screen and (min-width: 1060px) {
  body {
    //background-image: url('../images/backgImg2.jpg');
    //background-size: 100%;
    background-size: cover;
    background-position: center;
    //background-position: 50% 0%;
    background-repeat: no-repeat;
    background-color: black;
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100%;
    margin: auto;
  }
}





