.halfclub-box{
  margin-top: -5px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;

  .main-text_1 {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100px;
    h2 {
      font-size: 28px;
      color: #333;
    }
  }

  .main-text_2{
    width: 185%;
    white-space: nowrap; /* 자식 요소들이 한 줄에 나열되도록 함 */
    overflow: hidden; /* 넘치는 요소들은 숨김 처리 */
    .slider{
      height: 55px;
      .slider__container{
        margin-left: 10px;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory; /* 스냅 효과 적용 */
        scrollbar-width: none; /* 기본 스크롤바 숨김 */
        -ms-overflow-style: none; /* IE, Edge용 스크롤바 숨김 */
      }
      .slider__container::-webkit-scrollbar {
        display: none;
      }
      .slider__controls{
        margin-left: 10px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 50%!important;
        button{
          margin-top: 10px;
          background-color: transparent;
          border: none;
        }
      }
    }
  }

  .main-banner {
    height: 240px;
    .swiper-container{
      .swiper-wrapper{
        .swiper-slide{
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  .main-body{
    background-color: #f5f5f5;
    flex-grow: 1;
    text-align: center;
  }
}

