/* 배경화면 */
.screen{
}

.mobile-nwrapper {
  .mobile-nhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    .mobile-img{
      margin-right: 32.9px;
    }
    img {
        filter: invert(1);
        object-fit: cover;
        width: 20px;
    }
    p{
      color: #ffffff;
      font-weight: bold;
      margin-left: 39.5px;
      text-align: left;
      width: 20px;
    }
  }
  .mobile-nbody{
    text-align: center;
    height: 510px;
  }

  .mobile-nfooter{
    text-align: center;
    .nfooter-box{
      background-color: rgba(204, 204, 204, 0.5);
      border-radius: 25px;
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      img{
        object-fit: cover;
        width: 70px;
      }
    }
  }
}