.mobile-nwrapper {
  img:hover{
    cursor: pointer;
  }

  .mobile-nhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    .mobile-img{
      margin-right: 32.9px;
    }
    img {
        filter: invert(1);
        object-fit: cover;
        width: 20px;
    }
    p{
      color: #ffffff;
      font-weight: bold;
      margin-left: 39.5px;
      text-align: left;
      width: 20px;
    }
  }
  .mobile-nbody{
    height: 510px;
    img{
      object-fit: cover;
      width: 70px;
    }
    p{
      font-weight: bold;
      color: #ffffff;
      font-size: smaller;
      text-align: center;
      margin: auto;
    }
    .mobile-nbody-first{
      position: relative;
      top: 17%;
      left: 3%;
      transform: translateY(-50%);
      .first-box_1,
      .first-box_2,
      .first-box_3,
      .first-box_4{
        width: 23.4%;
        display: inline-block;
        text-align: center;
        img{
          border-radius: 16.9px;
        }
      }
      .first-box_1 img:hover,
      .first-box_2 img:hover,
      .first-box_3 img:hover,
      .first-box_4 img:hover{
        transform: scale(1.09);
        transition: transform 0.2s ease-in-out;
      }
    }
  }

  .mobile-nfooter{
    text-align: center;
    .nfooter-box{
      background-color: rgba(204, 204, 204, 0.5);
      border-radius: 25px;
      height: 110px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      img{
        object-fit: cover;
        width: 70px;
      }
      img:hover{
        transform: scale(1.09);
        transition: transform 0.2s ease-in-out;
      }
    }
  }
}