.mobile-wrapper{
    .mobile-head{
        justify-content: center;
        align-items: center;
        text-align: right;
        margin-right: 32px;
        margin-top: 5px;
        height: 35px;
        img{
            filter: invert(1);
            object-fit: cover;
            width: 20px;
        }
    }
    .mobile-body{
        height: 385px;
        .body-Time{
            margin-top: 75px;
            text-align: center;
            color: white;
            p{
                font-weight: bold;
                font-size: 15pt;
            }
            h1{
                margin: auto;
                font-size: 78pt;
            }
        }
    }
    .mobile-footer {
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;

        .footer_line {
            border-bottom: 6.6px solid #ffffff;
            border-radius: 6px;
            cursor: pointer;

            p {
                color: #ffffff;
                opacity: 0.6;
                transition: opacity 0.5s ease;
            }

            p:hover {
                opacity: 1;
            }
        }
    }
}