@function ptr($px) {
    @return #{($px)*0.01}rem;
}

.mobile-wrapper{
    .mobile-head{
        justify-content: center;
        align-items: center;
        text-align: right;
        margin-right: 33.1px;
        margin-top: 5.5px;
        // height: 35px;
        img{
            filter: invert(1);
            object-fit: cover;
            width: 21.8px;
        }
    }
    .mobile-body{
        height: 445px;
        .body-Time{
            margin-top: 75px;
            text-align: center;
            color: white;
            p{
                font-weight: bold;
                font-size: 16.5pt;
            }
            h1{
                margin: auto;
                font-size: 71.5pt;
            }
        }
    }
    .mobile-footer {
        height: 85px;
        display: flex;
        justify-content: center;
        align-items: center;

        .footer_line {
            border-bottom: 6.6px solid #ffffff;
            border-radius: 6px;
            cursor: pointer;

            p {
                color: #ffffff;
                opacity: 0.6;
                transition: opacity 0.5s ease;
            }

            p:hover {
                opacity: 1;
            }
        }
    }
}